@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <h2>Mat: Afrunding af diagram</h2> 5/5 -> 10/10
</div>
<div class="row">

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Opgave beskrivelse
            </div>
            <div class="panel-body">
                <textareas>
                    Dette er en opgave beskrivelse, den er genial.
                    Du skal afrunde det hele med 2, husk at gå en tur med hunden og se noget disney sjov.
                </textareas>
            </div>

        </div>

    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Filer
            </div>
            <div class="panel-body" style="padding:0; padding-top:5px;">
<div class="col-md-6" style="border-bottom:solid black 1px;">
    <img src="http://www.freeiconspng.com/uploads/camera-icon--long-shadow-ios7-iconset--pelfusion-30.png" class="img-responsive img-thumbnail" />
    billede fil 1
</div>
                <div class="col-md-6" style="border-bottom:solid black 1px;">
                    <img src="http://www.freeiconspng.com/uploads/camera-icon--long-shadow-ios7-iconset--pelfusion-30.png" class="img-responsive img-thumbnail" />
                    billede fil 1
                </div>
                <div class="col-md-6" style="border-bottom:solid black 1px;">
                    <img src="http://www.freeiconspng.com/uploads/camera-icon--long-shadow-ios7-iconset--pelfusion-30.png" class="img-responsive img-thumbnail" />
                    billede fil 1
                </div>
                <div class="col-md-6" style="border-bottom:solid black 1px;">
                    <img src="http://www.freeiconspng.com/uploads/camera-icon--long-shadow-ios7-iconset--pelfusion-30.png" class="img-responsive img-thumbnail" />
                    billede fil 1
                </div>
                <div class="col-md-6" style="border-bottom:solid black 1px;">
                    <img src="http://www.freeiconspng.com/uploads/camera-icon--long-shadow-ios7-iconset--pelfusion-30.png" class="img-responsive img-thumbnail" />
                    billede fil 1
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_Chat")