<hr />
<div class="row">
    <div class="col-md-8">
        <ul id="Chat" style="background-color:green; width:100%; min-height:200px;">

        </ul>
        @Html.TextBox("ChatInput",null,new { @Class="form-control"})
    </div>
    <div class="col-md-4">
        <ul id="OnlineUsers" style="background-color:green; width:100%; min-height:200px;">

        </ul>
    </div>
</div>
