<hr />
<div class="row">
    <div class="col-md-8">
        <input type="hidden" id="displayname" />

        <ul id="discussion" width:100%" class="chat">

        </ul>
        @Html.TextBox("message", null,new { @Class="form-control"})
        

    </div>
    <div class="col-md-4">
        <ul id="OnlineUsers" class="chat" style="width:100%; min-height:300px;max-height:300px;">

        </ul>
    </div>
</div>

@section scripts {



    }